@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Estedad:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    direction: rtl;
}

body {
  font-family: 'Vazirmatn', sans-serif;
}

.toast-container {
  min-width: 210px !important;
  max-width: 220px !important;
  padding: 22px 12px !important;
}

@media (min-width: 768px) {
  .toast-container {
    min-width: 400px !important;
    max-width: 500px !important;
    padding: 22px 24px !important;
  }
}